/* estilos generales de todas las páginas */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',monospace, 'Georgia', 'sans-serif';
}

h1, h2, h3, h4, h5 {
    color: #1d273b; 
    font-weight: 300;
}

h4 {
    font-size: 40px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

h1 {
    font-size: 50px;
}

/* css del header */

header::before{
    content: "";
    display: block;
    margin-bottom: 100px;
}
nav {
    width: 100%;
    background-color: rgb(109, 189, 163); 
    height: 100px;
    border-bottom: 2px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
    transition: ease-in-out 0.5s;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: ease-in-out 0.5s;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    padding: 0px 40px;
}

.nav .logo {
    height: 80px;
    padding: 5px;
}

.nav .logo img {
    height: 100%;
    border-radius: 50%;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
    text-decoration: none;
    color: #565d69;
    margin-left: 25px;
    font-size: 20px;
    padding: 4px;
}

.nav .enlaces-header a:hover {
    box-shadow: 0px 2px 2px 2px #f2f2f2;
    opacity: 0.7;
}

.menu {
    display: none;
    width: 80px;
    height: 80px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
    transition: color 0.5s ease-in;
}

.menu > i {
    font-size: 25px;
    line-height: 80px;
}

/* contenido */
.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-header > img {
    width: 550px;
    animation: ease-in animat 1s;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14;
    color: #1d273b;
    line-height: 30px;
    font-size: 20px;
}

.contenido-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    text-align: center;
    background-color: rgb(25, 115, 183);
    padding: 12px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(52, 104, 182, 0.46);
}

/* textos */
.textos-header {
    margin: 0px 0px 0px 30px;
}

.titulo {
    font-size: 50px;
}

/* acerca de */
.aboutus {
    background-color: #f2f2f2;
}

.contenedor-articulo {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articulo {
    width: 29%;
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 40px 30px 60px 30px;
}

.articulo:hover {
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    transition: 0.5s;
}

.articulo > i {
    font-size: 30px;
    color: #1f5989;
    background-color: #ffffff;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(156, 179, 214, 0.46);
}

.articulo > h3{
    font-size: 24px;
    margin-top: 30px;
}

.articulo > p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    margin-bottom: 20px;
}

.articulo > a {
    text-decoration: none;
    font-weight: 400;
    color:#5D6678; 
}

.articulo > a:hover {
    color: #2271b2;
    transition: color 0.5s;
}

/* seccion */
.questions {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions > img {
    width: 550px;
    animation: ease-in animat 1s;
}

.textos-questions p {
    font-weight: 100;
    margin-top: 14;
    color: #1d273b;
}

.textos-questions a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    text-align: center;
    background-color: rgb(25, 115, 183);
    padding: 12px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(52, 104, 182, 0.46);
}

/* textos */
.textos-questions {
    margin: 0px 0px 0px 30px;
}

.titulo {
    font-size: 50px;
}

/* seccion */
.results {
    background-color: #1f5989;
    padding-top: 30px;
}

.conten-results{
    display: flex;
    justify-content: space-evenly;
}

.numbers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.numbers .number {
    width: 45%;
    background-color: rgba(127, 181, 229, 0.7);
    color: #ffffff;
    border-radius: 10px;
    padding: 40px 35px;
}

.numbers .number h4 {
    color: #ffffff;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 20px;
}

.numbers .number p {
    color: #f2f5fc;
    font-weight: 300;
    font-size: 1.5em;
}

.results-text {
    width: 37%;
}

.results-text h4 {
    color: #ffffff;
    font-size: 40px;
}

.results-text p {
    color: #ffffff;
    font-weight: 300;
    margin: 30px 0;
}

.results-text >a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #ffffff;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
}

/* sección */
.services {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: 0px 0px 1px 0px gray;
}

.services > img {
    width: 500px;
}

.box-skills {
    margin: 30px 30px 0 0;
}

.box-skills h4 {
    font-size: 24px;
    background-color: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

.box-skills h4:hover {
    background-color: #f3f6fe;
}

.box-skills h4 a {
    text-decoration: none;
    color: #1d273b;
}

.box-skills i {
    color: rgb(44, 171, 131);;
    font-size: 20px;
    margin-right: 10px;
}

/* footer */
footer {
    background-color: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter {
    width: 20%;
}

.partFooter h4 {
    font-size: 20px;
    color: #1d273b;
    font-weight: 400;
    margin-bottom: 30px;
}
.partFooter img {
    width: 70%;
    border-radius: 50%;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #5D6678;
    font-weight: 300;
    transition: color ease-in-out 0.3s;
    margin-bottom: 10px;
}

.partFooter a:hover {
    color: #1f5989;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media i {
    font-size: 30px;
    display: inline-block;
    color: #adb6c7;
    border: 2px solid #adb6c7;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    line-height: 46px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    transition: all ease-in-out .2s;
    margin-right: 5px;
}

/* sección */
.extensions {
    background-color: #f2f2f2;
}


.social-media i:hover {
    color: #ffffff;
    background-color: #f54f08;
    border-color: #f54f08;
}

.contenedor-curso {
    display: flex;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border-bottom: #565d69 solid 2px;
    gap: 50px;
}

.contenedor-curso img {
    width: 60%;
}

.contenedor-curso > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contenedor-curso div h2 {
    font-size: 25px;
    font-weight: 600;
}

.contenedor-curso div a {
    background-color: #1f5989;
    border-radius: 20px;
    color: #f2f2f2;
    padding: 7px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
}

.contenedor-curso div a:hover {
    opacity: 0.7;
}


/* estilos para la página de intro */
.contenedor-cartas {
    width: 100%;
    margin: 20px auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
} 

.contenedor-cartas > div {
    box-shadow: 2px 2px 5px #1d273b;
    margin-top: 40px;
    margin-bottom: 0;
    border-radius: 10px;
}

.contenedor-ides {
    width: 30%;
    margin: 20px auto;
}


.contenedor-ides > div img {
    width: 50%;
}

.contenedor-cartas div img {
    width: 85%;
}

.contenedor-lenguajes {
    width: 30%;
    margin: 3em auto;
}

.contenedor-lenguajes > div img {
    width: 80%;
    padding: 10px;
    box-shadow: 2px 2px 5px #1d273b;
}

.contenedor-ramas {
    width: 90%;
    margin: 3em auto;
}

.contenedor-ramas > div img {
    width: 70%;
    padding: 10px;
    box-shadow: 2px 2px 5px #1d273b;
}

.contenido-intro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.contenido-intro p {
    font-weight: 100;
    margin-top: 14;
    color: #1d273b;
    line-height: 30px;
    font-size: 20px;
}

.textos-intro {
    margin: 0px 0px 0px 30px;
}

.textos-intro b {
    font-weight: 900;
}

.texto {
    font-weight: 100;
    margin-top: 14;
    color: #1d273b;
    line-height: 30px;
    font-size: 20px;
}

/* collage style */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
    margin: 20px auto;
    grid-auto-flow: dense;
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* this kind of card needs an spam of 2 rows and 2 columns */
 
  
  
  .image-grid img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  } 
  
  .image-grid img:hover {
    transform: scale(1.05);
  }

  /* extensions */
  .contenedor-extensions {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.contenedor-extensions > div img {
    width: 70%;
    margin: 0 auto;
    border-radius: 5px;
}

.contenedor-herramientas {
    box-shadow: 2px 2px 5px #1d273b;
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    margin: 20px auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.contenedor-herramientas > div {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-herramientas > div img {
    width: 80%;
    border-radius: 10%;
}

/* presentación */
.presentation-container {
    padding: 20px;
    width: 80%;
    margin: 150px auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.presentation-card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 5px #1d273b;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
}

.presentation-card:hover {
    transform: rotate(10deg);
}

.presentation-card img {
    width: 100%;
    /* border: orange 2px solid; */
    /*max-height: 200px; */
}

.presentation-card h3 {
    font-size: 20px;
    -webkit-text-stroke: 1.5px #0a693e;
    color: transparent; 
    font-weight: 400;
    margin: 10px auto;
    text-align: center;
}

.presentation-card p {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin: 10px auto;
    text-align: center;
}

/* modifyng the list of achivements */
.logros {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logros li {
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 1px 0px #1d273b;
    width: 60%;
}

/* languages table styles */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #90b3a3;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

.contenedor-todos-accesorios {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* accesories page styles */
.contenedor-accesorio {
    width: 40%;
    margin: 30px 0;
    padding: 25px;
    text-align: center;
    box-shadow: 2px 2px 5px #e9e9e9;
}

.contenedor-accesorio img {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.contenedor-accesorio h2 {
    font-size: 25px;
    /*-webkit-text-stroke: 1.5px #0a693e;
    color: transparent; */
    color: #3e5d97;
    font-weight: 600;
    margin: 15px auto;
    text-align: center;
}

.contenedor-accesorio p {
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.contenedor-accesorio a {
    background-color: #1f5989;
    border: 3px solid #fff;
    color: #ddd;
    border-radius: 20px;
    padding: 7px;
    font-size: 20px;
    text-decoration: none;
}

.contenedor-accesorio a:hover {
    opacity: 0.7;
}

@media screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
    }

    .contenedor-lenguajes {
        width: 80%;
        margin: 3em auto;
    }

    .contenedor-ramas {
        width: 100%;
    }

    .contenedor-ramas > div img {
        width: 90%;
    }

    .logros li {
        width: 90%;
    }

}

/* keyframes */
@keyframes animat {
    0% {
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

/* media queries */
@media screen and (max-width: 800px) {

    .contenedor-extensions > div img {
        width: 100%;
        margin: 0 auto;
    }
    
    .titulo {
        font-size: 45px;
    }
    .contenido-header{
        flex-direction: column;
        justify-content: space-evenly;
        max-height: 720px;
    }
    .contenido-header > img {
        width: 400px;
    }
    .textos-header {
        margin: 0;
    }

    /* sección */
    .articulo {
        width: 45%;
    }

    /* seccion */
    .questions {
        height: 720px;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .questions > img {
        width: 400px;
    }

    /* seccion */
    .conten-results {
        flex-direction: column-reverse;
    }
    .results-text > a {
        margin-bottom: 60px;
    }
    .results-text {
        width: 100%;
    }
    .numbers {
        width: 100%;
    }

    /* sección */
    .services {
        flex-direction: column-reverse;
        align-items: center;
    }
    .box-skills {
        margin: 0 0 40px 0;
    }
    .box-skills h4 {
        width: 500px;
    }
    .services > img {
        width: 300px;
    }

    /* footer */
    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }

    .contenedor-cartas > div {
        margin-bottom: 10px;
    }

    .texto {
        margin-top: 50px;
    }

    .contenedor-curso {
        flex-direction: column;
    }

    .contenedor-curso img {
        width: 70%;
    }


    .contenedor-curso > div {
        width: 100%;
        left: 0;
    }

    .contenedor-curso div a {
        width: 100px;
    }
    

}

@media screen and (max-width: 628px) {
    .titulo {
        font-size: 35px;
    }
    h1 {
        font-size: 40px;
    }
    .contenido-header {
        max-height: 700px;
    }

    nav {
        height: 80px;
    }
    .nav {
        padding: 0 10px;
    }
    .textos-header h1 {
        margin-top: 100px;
    }

    .contenido-header > img {
        width: 250px;
    }
    .enlaces-header {
        display: none;
    }
    .menu {
        display: block;
    }

    /* sección */
    .articulo {
        width: 95%;
    }

    /* seccion */
    .questions > img {
        width: 250px;
    }

    /* sección */
    .numbers .number {
        width: 95%;
    }

    /* sección */
    .services > img{
        width: 250px;
    }
    .box-skills h4{
        width: 100%;
        padding: 0 3px;
    }

    /* footer */
    footer {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .partFooter {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .social-media {
        text-align: center;
    }

    .nav .menu2 {
        position: fixed;
        background-color: #1f5989;
        border: 2px solid #ffffff;
        top: 10px;
        right: 5px;
        border-radius: 10px;
        width: 60%;
        height: 45vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(0.0% to 100% 0);
    }

    .nav .menu2 a {
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        margin: 0 auto;
    }


    .enlaces-header {
        clip-path: circle(133.8% to 100% 0);
        top: -100px;
        right: -100px;
    }

    .nav .enlaces-header a {
        color: #ffffff;
    }

    .contenedor-accesorio {
        width: 98%;
        margin: 30px 0;
    }

    .contenedor-accesorio img {
        width: 100%;
    }

    .contenedor-accesorio h2 {
        font-size: 20px;
    }

    .contenedor-accesorio p {
        font-size: 15px;
    }

}

